{% extends 'base.html.twig' %}

{% block title %}My Amazing Blog - Home{% endblock %}

{% block body %}
    <h1>Posts</h1>

        {% for post in posts %}
        <article>
            <h2>
                {{ post.title }}<br>
                <span class="article-date">Published {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</span>
            </h2>
            
            <div>{{ post.content|nl2br }}</div>
            <div>
                <a href="{{ path('post_show', {'id': post.id}) }}">show</a>
                <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                <br>
                {{ post.comments.count }} Comments
            </div>
        </article>
        {% else %}
            <h2>no records found</h2>
        {% endfor %}

    <a href="{{ path('post_new') }}">Create new</a>
{% endblock %}